<%= link_to 'Back', system_path(@system) %> |
<%= link_to 'Destroy', system_nav_entry_path(@system, @nav_entry), :confirm => 'Are you sure?', :method => :delete %>

<h1>Editing Nav Entry</h1>

<%= render 'form' %>